html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
}
#signup-form {
  margin-top: 15%;
}
#login-form {
  @extend #signup-form;
}
.jumbotron {
  background: linear-gradient(0deg, rgb(148, 148, 148) 10%, rgb(239, 239, 239) 90%);
}
.formBody {
  @extend .jumbotron;
}
.pollBody {
  background: linear-gradient(to left, rgb(35, 37, 38), rgb(65, 67, 69));
}